#admin_form {
	height: 100%;
	width: 100%;
	position: absolute;
}

#admin_form p {
	color: #f1ddaa;
	font-size: 1.4em;
	margin-bottom: 20px;
	width: 100%;
}

#admin_form input,
#admin_form button {
	font-size: 1.2em;
	padding: 15px;
	border: 2px solid #f1ddaa;
	border-radius: 20px;
}

#admin_form input::placeholder {
	color: #152a3b;
}

#admin_form input {
	margin-bottom: 25px;
	background: #f8eccd;
	width: 90%;
	text-align: center;
	border: 2px solid #0a151d;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#admin_form button {
	padding: 15px 30px;
	width: 90%;
	color: whitesmoke;
	background-color: rgba(0, 0, 0, 0.5);
}

#admin_form button:hover {
	cursor: pointer;
	background-color: #f1ddaa;
	color: black;
	transition: ease-in 0.25s;
}
